@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: RobotoRegular
	overflow-x: hidden
	opacity: 1


.img-responsive
	display: block
	max-width: 100%
	height: auto

.header-olympics
	text-align: center
	text-transform: uppercase
	font-family: beaver-ex
	background-color: $accent

.text-head
	font-size: 40px
	letter-spacing: 4px

.position-element
	text-align: center

.countdown-clock
	margin: 75px 0 75px 0
	display: inline-block
	width: auto

#main-content
	background-color: #F5F5F5

.source-file
	margin-top: 120px 
	

.source-in a 
	margin-top: 40px
	vertical-align: middle

.source-file a 
	display: inline-block
	text-decoration: none
	width: 200px
	text-align: center
	font-weight: 400
	color: #fff
	font-size: 18px
	text-transform: uppercase
	padding: 12px
	background: #444359
	border-left: 1px solid #fff
	-o-transition: background-color 0.5s ease-in-out
	-moz-transition: background-color 0.5s ease-in-out
	-ms-transition: background-color 0.5s ease-in-out
	-webkit-transition: background-color 0.5s ease-in-out
  transition: background-color 0.5s ease-in-out
	letter-spacing: 2px
	&:hover
		background-color: lighten($fund, 10%)
		&::after
			opacity: .22
			&:active
				background-color: darken($fund, 11%)
				opacity: .32
	
	

.information-text
	margin-top: 120px

.information-text h3,p
	margin: 0
	padding: 0

.information-text h3 ,i 
	font-size: 30px
	padding: 7px

.sponsor-manul
	font-size: 40px 
	text-transform: uppercase

//accordion start

.accordion dl,
.accordion-list 
  border: 1px solid #ddd



.accordion dd,
.accordion__panel 
  background-color: #eee
  font-size: 1em
  line-height: 1.5em


.accordion p 
  padding: 1em 2em 1em 2em


.accordion 
  position: relative
  background-color: #f3f3f3
		
.accordion dl dt a 
	text-decoration: none

.accordionTitle,
.accordion__Heading 
  background-color: #444359
  text-align: center
  font-weight: 700
  padding: 10px
  display: block
  text-decoration: none
  color: #fff
  border-bottom: 1px solid #fff
  -webkit-transition: background-color 0.5s ease-in-out
  transition: background-color 0.5s ease-in-out
  


.accordionTitle:active
.accordionTitle.is-expanded 
  background-color: $fund


.accordionTitle:before,
.accordion__Heading:before 
  content: "+"
  font-size: 1.5em
  line-height: 0.5em
  float: left
  -webkit-transition: -webkit-transform 0.3s ease-in-out
  transition: -webkit-transform 0.3s ease-in-out
  transition: transform 0.3s ease-in-out
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out


.accordionTitleActive:before,
.accordionTitle.is-expanded:before 
  -webkit-transform: rotate(-225deg)
          transform: rotate(-225deg)


.accordionItem 
  height: auto
  overflow: hidden 
  max-height: 50em
  -webkit-transition: max-height 1s
  transition: max-height 1s
  

.accordionItem.is-collapsed 
  max-height: 0


.no-js .accordionItem.is-collapsed 
  max-height: auto


.animateIn 
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1
          animation: accordionIn 0.45s normal ease-in-out both 1


.animateOut 
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1
          animation: accordionOut 0.45s alternate ease-in-out both 1


@-webkit-keyframes accordionIn 
  0% 
    opacity: 0
    -webkit-transform: scale(0.9) rotateX(-60deg)
            transform: scale(0.9) rotateX(-60deg)
    -webkit-transform-origin: 50% 0
            transform-origin: 50% 0
  
  100% 
    opacity: 1
    -webkit-transform: scale(1)
            transform: scale(1)
  


@keyframes accordionIn 
  0% 
    opacity: 0
    -webkit-transform: scale(0.9) rotateX(-60deg)
            transform: scale(0.9) rotateX(-60deg)
    -webkit-transform-origin: 50% 0
            transform-origin: 50% 0
  
  100% 
    opacity: 1
    -webkit-transform: scale(1)
            transform: scale(1)
  

@-webkit-keyframes accordionOut 
  0% 
    opacity: 1
    -webkit-transform: scale(1)
            transform: scale(1)
  
  100% 
    opacity: 0
    -webkit-transform: scale(0.9) rotateX(-60deg)
            transform: scale(0.9) rotateX(-60deg)
  

@keyframes accordionOut 
  0% 
    opacity: 1
    -webkit-transform: scale(1)
            transform: scale(1)
  
  100% 
    opacity: 0
    -webkit-transform: scale(0.9) rotateX(-60deg)
            transform: scale(0.9) rotateX(-60deg)
//accordion end

.part-sec h3
	text-transform: uppercase
	text-align: center

#about-sponsor
	background-color: $accent
	margin-top: 140px
	color: #fff

.sponsor-inner 
	text-align: center
	h2 
		font-size: 44px
		color: #000
	
.sponsors-img img 
	width: 100%
	height: auto
	margin-bottom: 100px

#footer 
	background-color: #000
	color: #fff

.mail-me i
	padding: 7px 
	font-size: 18px

.local-me i 
	padding: 5px
	font-size: 18px

.phone-me i 
	padding: 5px 
	font-size: 18px

.footer-wrap 
	margin-top: 120px



		 




@import "media" // Всегда в конце
